/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
}

.sidebar {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    width: 200px;
    height: 100vh;
    position: fixed;
}

.sidebar h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px;
    background-color: #34495e;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
}

.sidebar nav ul li a:hover {
    background-color: #1abc9c;
}

.content {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
}

.contact-info {
    float: left;
    width: 30%;
    padding-right: 20px;
    box-sizing: border-box;
}

.contact-form {
    float: right;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 5%;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #16a085;
}

.survey-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section {
    flex-basis: 45%;
    margin-bottom: 20px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.submit-section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.submit-section button {
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-section button:hover {
    background-color: #16a085;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 2px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    width: 350px;
    border-radius: 8px;
}

.bottom-image {
    justify-content: flex-start;
    margin-top: -60px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: calc(100% - 220px);
    left: 220px;
    font-size: 12px;
}
